<!DOCTYPE html>
<html lang="zh">

  <head>
    <title>{block name="title"}Bootstrap 实例{/block}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css" type="text/css" media="screen" title="no title">

    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" title="no title" charset="utf-8">                    
    <link rel="stylesheet" href="/static/ad_static/css/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {block name="css"}
    <link rel="stylesheet" href="/static/ad_static/css/article-all.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {/block}
    <link rel="stylesheet" href="/static/css/summernote-bs4.css">
    <script type="text/javascript" src="/static/js/summernote-bs4.js"></script>
    
    
  {:getMailJs()}
  </head>

  <body>

    <div class="header fixed-top bg-dark text-white">

      <div>
        <div class="fun-btn menu  d-md-none" data-menu=".left">
          <span class="oi oi-menu"></span>
        </div>
      </div>
      <div>
         <div class="fun-btn">
          <a href="{:url('index/index/home')}" class="text-white">
            <span class="oi oi-home"></span>
          </a>
        </div>       
        <div class="fun-btn">
          <a href="{:url('index/login/out')}" class="text-white">
            <span class="oi oi-power-standby"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="left bg-dark">
      <ul>
        {$menu|raw}
      </ul>
    </div>

    <div class="body">
      {if condition="isset($alert_text)"}
      <div class="alert {$alert_type} alert-dismissible fade show" role="alert">
        {$alert_text|raw}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      {/if}
      {block name="body"}

      {/block}
    </div>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#textarea').summernote({
        height: 600,
        lang:"zh-CN",
        tabsize: 2,
        callbacks: {
          onImageUpload: function(files, editor, $editable) {
            sendFile(files);
          }
        }
      });
    });


    function sendFile(files, editor, $editable) {
      var data = new FormData();
      data.append("img", files[0]);
      $.ajax({
        data : data,
        type : "POST",
        url : "{:url('admin/upload/img')}",
        cache : false,
        contentType : false,
        processData : false,
        dataType : "json",
        success: function(data) {
          $('#textarea').summernote('insertImage', data["url"]);
        },
        error:function(){
          alert("上传失败");
        }
      });
    }
    
    

  </script>


  <script src="/static/ad_static/js/index.js" charset="utf-8"></script>
</html>
