{extend name="base/base" /}
{block name="title"}注册账户{/block}
{block name="style"}    <link rel="stylesheet" href="css/login.css" type="text/css" media="screen" title="no title"
        charset="utf-8"> {/block}
{block name="body"}
 <div class=" container pt-2">
      <ol class="breadcrumb box">
        <li class="breadcrumb-item">首页</li>
        <li class="breadcrumb-item active">注册</li>
      </ol>
    </div>
    
    <div class="container">
        <div class="box">
          <h1>注册成功</h1>
          <div class="login text-center">
          
            点击这里<a href="#">登录</a>
          </div>
        </div>
      </div>

    
    
{/block}