{extend name="base/base" /}
{block name="title"}注册账户{/block}
{block name="style"}    <link rel="stylesheet" href="css/login.css" type="text/css" media="screen" title="no title"
        charset="utf-8"> {/block}
{block name="body"}
 <div class=" container pt-2">
      <ol class="breadcrumb box">
        <li class="breadcrumb-item">首页</li>
        <li class="breadcrumb-item active">注册</li>
      </ol>
    </div>
    <div class="container">
        <div class="box">
          <h3>邮件已发送至你的邮箱</h3>
          <div class="login">
            请到邮箱内查看，并激活邮件，如果未收到邮件，可能是被标记成为垃圾邮件，请检查垃圾箱内是否存在
          </div>
        </div>
      </div>
    {/block}